/* Global CSS */

*{
    padding:0;
    margin:0;
    font-family: 'Poppins', sans-serif;
}
section{
    width:100%;
    padding: 15px 0px;
    margin-bottom: 20px;
}
span{
    color: #058EF7;
}
h2 {
    color: #000000;
    font-size: 42px;
}
h3{
    color: #000000;
    font-size: 38px; 
}
p {
    color: #000000;
    font-size: 24px;
    margin:12px 0px;
}
.center{
    text-align: center;
}
.container{
    width:80%;
    padding: 5px 15px;
    margin:0 auto;
}
.flex{
    display: flex;
    justify-content: center;
}
.box-50{
    width:50%;
    padding:20px 15px;
    margin:10px 15px;
}
.box-3{
    width:33.32%;
    padding:20px;
    margin:10px 15px;
}
.rounded{
    border-radius:25px;
}
.btn{
    padding:8px 15px;
    margin:8px 0px;
    display: inline-block;
    background-image:linear-gradient(to right,#13B8FC, #048CF7 );
    color:#fff;
    font-size:24px;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0px 0px 12px #71c0e2;
}

/* top-intro section start */

.top-intro .box-50 h1{
    font-size: 48px;
    color: #000000;
}
.top-intro .box-50 p{
    margin: 15px 0px;
}
.top-intro .box-50 img {
    width: 450px;
    height:450px;
    border-radius: 50%;
}

/* about me start */
.about-me{
    background-image: url(bg-image/Frame\ 57.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    padding: 20px 0px;
}
.about-me .box-50 img {
    width: 70%;
    height: auto;
    border-radius: 10px;
}
.about-me .box-50 p {
    margin: 20px 0px;
}
.about-me .box-50 .diff {
    color: #000000;
    font-size: 28px;
    margin:0px 10px;
}

/* recipe-header start */
.recipe .recipe-header{
    width: 50%;
    margin: 0 auto;
    padding: 10px 0px 25px;
}
.recipe .box-3 {
    height:650px;;
}
.recipe .headline {
    width: 100%;
    margin:25px 0px 15px 20px;
}
.recipe .image-box img{
    margin:0 auto;
    width: 100%;
    height: 380px;
    border-radius: 10px;
}
.recipe .recipe-iteam{
    box-shadow: 0px 0px 12px rgba(0, 0, 0, .2);
}
.recipe .recipe-iteam h3{
    font-size: 28px;
    margin: 15px 0px 10px;
    font-weight: 700;
    color: #058EF7;
}
.recipe .recipe-iteam p{
    font-size: 18px;
    margin: 12px 0px;
}
/* trending section start */